body{
    margin: 0px;

    display: flex;
    flex-direction: column;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    height:100px;
    width:100px;
    padding:10px
}

#display{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#controls{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding:50px


}

#information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width:500px;

    background-color: antiquewhite;
}

#result{
    background-color: blue;
}

#score{
    display: flex;
    justify-content: center;
    align-items: center;

}

#modal{
    display: none;
    z-index: 1;
    position:fixed;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    background-color: rgba(0,0,0,0.4);

    justify-content: center;
    align-items: center;
}

#modal-content{
    width:30%;
    background-color: white;
}

.hand{
    width:500px;
    height:500px;

    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
}